/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
.cabecalho {
    background-color: #0de277;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.cabecalho h2 {
    margin-bottom: 10px;
    color: #4a4a4a;
}

.cabecalho nav a button,
.cabecalho button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #e91e63;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cabecalho button:disabled {
    background-color: #5dcbe7;
    cursor: default;
}

.cabecalho nav a button:hover {
    background-color: #c2185b;
}

/* Conteúdo principal */
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.container h1 {
    text-align: center;
    color: #e91e63;
    margin-bottom: 30px;
}

/* Formulário */
.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão de envio */
.botao-enviar {
    background-color: #e91e63;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-enviar:hover {
    background-color: #c2185b;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #424141;
    color: #ffffff;
    margin-top: 40px;
    font-size: 14px;
}
